absl-py==2.1.0
anyio==4.4.0
beautifulsoup4==4.12.3
Flask==3.1.1
GitPython==3.1.43
gym==0.17.1
gymnasium==1.2.0
gymnasium-robotics==1.4.1
h5py==3.7.0
hydra-core==1.0.6
jupyterlab==4.2.4
matplotlib==3.9.2
minari==0.5.3
mujoco==3.1.3
mujoco-py==2.0.2.0
mushroom-rl==1.10.0.post2
numpy==1.26.4
opencv-python==4.10.0.84
pandas==2.2.2
pettingzoo==1.25.0
pink-noise-rl==2.0.1
pybullet==3.2.7
pygame==2.6.0
scikit-image==0.25.2
scikit-learn==1.5.1
scipy==1.14.0
seaborn==0.13.2
tensorboard==2.17.0
torch==2.4.0
torchvision==0.19.0
tqdm==4.66.4
wandb==0.17.5
